#root {
  max-width: 98vw;
  
  margin: 0 auto;
  
  padding: 2rem;
  text-align: center;
  --yellow:#FFCC00;
  --dark-yellow:#D5A100;
  --blue:#0075BE;
  --dark-blue:#0A285F;
    background-color: var(--dark-blue);
      overflow: hidden;
    box-sizing: border-box;

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.container {
  background-color: var(--blue);
  height: 1400px;
  margin:0;
  top:0;

}

.container .main-header {
  width: 100vw;
  height: 100px;
  position: relative;
 
}

.score-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
   margin-bottom: 10px;
  }

  .score{
    margin:0 50px;
   
  
  }

  h2{
    color:var(--yellow)
  }
  .result{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
  }

.image-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  top: 130px;
  height: auto;
}
.pokemon-container{
  border:3px solid var(--dark-yellow);
  height: 100%;
  margin-top: 20px;
}
.pokemon-container:hover{
border:3px solid var(--dark-blue);
background-color:var(--yellow);
}

.pokemon-name{
  height: 50px;
  margin:0;
  font-weight: bold;
  font-size: 1.5em;

}


.image-container:hover{
  transform: translateX(10px);
}

h1{
  color: var(--yellow);

}
