#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100vw;
  justify-content: space-between;
}

.container {
}

.container .main-header {
  position: fixed;
  top: 0;
  width: 100vw;

  height: 100px;
}

.score-section {
  position: fixed;
  top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0px;
  width: 100vw;
}
.component-container {
}
